RequestForm input {
    margin: 0px !important;
    display: block;
    padding-left: 0px;
    padding-right:0px;
}

RequestForm input[type="submit"] {
    width: 35%;
    height: 80%;
}

RequestForm {
    text-align: center;
}