:root {
  --navbar-height: 56px;
  --profile-picture-size: 30px;
  --post-height-pt-one:min(300px,calc( 100vh - var(--navbar-height)));
  --post-height-pt-two:calc(calc(50vw / 16) * 9);
  --post-height:min(var(--post-height-pt-one),var(--post-height-pt-two))
}
* {
  margin:0px;
  position:relative;
  padding:0px;
}
nav {
  background-color: blue;
  padding: 0px;
  height: var(--navbar-height);

}

#logo {
  height: 50px;
  width: 50px;
  border-radius: 100%;

}

body {
    margin: 0px;
    padding: 0px;
    /*overflow:hidden !important;*/
    background-color: #d4f7dc;
}

.flex-container {
  display: flex;
  height: calc(100vh - var(--navbar-height));
  padding: 0px;
  padding-top: 0 !important;
}

.flex-item {
  flex: 1;
  height: fit-content;
  padding: 2px;
}

.friendsItemLeft, .friendsItemRight {
  width: fit-content;
  max-width: 20vw;
}

.verticalItem {
    background-color: #B7EFC5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.verticalSpacer {
    max-width: 5vw;
}

#posts {
    max-width: 60vw;
    height: fit-content;
    overflow-y: visible;
}

#Friends, #SFriends {
    color: #208B3A;
    font-style: bold;
}
#SFriendsList {
    padding:10px;
    font-size:10px;
}
