:root {
  --navbar-height: 75px;
}
* {
  margin:0;
}
nav {
  background-color: blue;
  padding: 0px;
  height: var(--navbar-height);
  position:sticky;
  top:0;
  z-index: 1;
}

img {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  border-radius: 100%;

}

body {
  margin:0;
  padding:0;
  /*overflow:hidden !important;*/
  background-color: lightblue;
}

li, p {
  display: inline;
}


li:nth-child(2) {
  position: absolute;
  right:0;
  padding-right: 40px;
}

.flex-container {
  display: flex;
  /* height: calc(100vh - var(--navbar-height)); */
}

.flex-item {
  flex: 1;
  height: 100%;
}  
.verticalItem {
  max-width: 15vw;
  background-color: grey;
}
.verticalSpacer {
  max-width: 5vw;
}
#posts {
  max-width: 60vw;
  overflow-y: scroll;
}