:root {
  --navbar-height: 56px;
  --profile-picture-size: 30px;
}
* {
  margin:0;
  position:relative;
  padding:0;
}
nav {
  background-color: blue;
  padding: 0px;
  height: var(--navbar-height);

}

#logo {
  height: 50px;
  width: 50px;
  border-radius: 100%;

}

body {
  margin:0;
  padding:0;
  /*overflow:hidden !important;*/
  background-color: lightgray;
}

li, p {
  display: inline;
}


li:nth-child(2) {
  position: absolute;
  right:0;
  padding-right: 40px;
}

.flex-container {
  display: flex;
  height: calc(100vh - var(--navbar-height));
  padding: 2px;
  padding-top: 0 !important;
}

.flex-item {
  flex: 1;
  height: fit-content;
  padding: 2px;
}

.friendsItemLeft, .friendsItemRight {
  width: fit-content;
  max-width: 20vw;
}
  
.verticalItem {
  max-width: 15vw;
  background-color: grey;
}
.verticalSpacer {
  max-width: 5vw;
}

#posts {
  max-width: 60vw;
  height:fit-content;
  overflow-y: visible;
}

