input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  input {
    width: 60%;
  }

  input[type=text], input[type=password] {
      height: 20px;
      border: none;
      margin: 5px;
      padding: 5px;
      border-bottom: #4CAF50 1px solid;
      outline: none;
  }

  input:focus {
      border: 1px solid #4CAF50;
  }

  .wrapper {
    margin-top: 100px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 5%;
  }

  html, body {
   height: 100%;
   width: 100%;   
  }

  .TWOFAcontainer {
    height: 100px;
    width: 600px;
    margin: auto;
  }
  
  .TWOFAcharacter {
    line-height: 100px;
    font-size: 72px;
    color: black;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid transparent;
    border-radius: 8px;
    margin-left: 8px;
  }
  
  .TWOFAcharacter:first-child {
    margin-left: 0;
  }
  
  .TWOFAcharacter--inactive {
    background-color: rgba(0,0,0,0.1);
  }
  
  .TWOFAcharacter--selected {
    color: #4CAF50;
    border: 3px solid #4CAF50;
  }
