.navbar {
    position: relative;
    border: 3px solid lightgray;
    color: lightblue;
}
  
nav {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: blue;
    padding: 0px;
    height: var(--navbar-height);
}

button {
    width: 100%;
}