:root {
    --post-height-pt-one:min(300px,calc( 100vh - var(--navbar-height)));
    --post-height-pt-two:calc(calc(50vw / 16) * 9);
    --post-height:min(var(--post-height-pt-one),var(--post-height-pt-two))
}
.post-container {
    margin: 10px;
    margin-top:30px;
}
.video-container {
	position:relative;
	height:var(--post-height);
    width:calc(calc(var(--post-height) * 16)/9);
	overflow:hidden;
    max-height: var(--post-height);
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.post-media {
    border-radius: 0%;
    max-height: var(--post-height);
    object-fit: contain;
    display: block;
    height: auto;
    width:auto;
}

* {
    font-family: 'Noto Sans JP', sans-serif !important;

  }

.postHeader {
    padding: 10px;
    text-align: center;
}

.post-container {
    border-bottom: 3px darkgrey solid;
    padding-bottom: 5px;
}